build --cxxopt="-std=c++17"
build --cxxopt="-Wall"

# Linux GCC
build:gcc --action_env=CC=gcc
build:gcc --linkopt -fopenmp

# Linux Clang
build:clang --action_env=CC=clang
build:clang --linkopt -fopenmp

# Mac Homebrew Clang
# TODO: we should really write a bazel rule to find these paths
build:mac --action_env=CC=/opt/homebrew/Cellar/llvm/13.0.1_1/bin/clang
build:mac --linkopt -L/opt/homebrew/Cellar/libomp
# Tell Bazel not to use the full Xcode toolchain on Mac OS
build:mac --repo_env=BAZEL_USE_CPP_ONLY_TOOLCHAIN=1

build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
