build --cxxopt="-std=c++17"
build --cxxopt="-Wall"
build --repo_env=BAZEL_USE_CPP_ONLY_TOOLCHAIN=1

build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
