[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipykernel = "*"
notebook = "*"
jupyter = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
sympy = "*"
numpyro = "*"

[dev-packages]
build = "*"
black = "*"
isort = "*"
flake8 = "*"
jupytext = "*"
pytest = "*"

[requires]
python_version = "3.8"
