# Most dependencies are specified in pyproject.toml. This is for pre-poetry
# stuff.
# 
# I could’ve left this inline inside environment.yml, but splitting it out
# has the advantage that Renovate bot will auto-update a requirements.txt file
# but won’t auto-update an # environment.yml
poetry==1.4.0
pip==23.0.1
