[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipykernel = "*"
notebook = "*"
jupyter = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
sympy = "*"

[dev-packages]
build = "*"

[requires]
python_version = "3.8"
