[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybind11 = "*"
numpy = "*"
pykevlar = {editable = true, path = "."}

[dev-packages]
build = "*"

[requires]
python_version = "3.8"
